@mixin buttonColor($target, $color, $hoverColor)
  &.#{$target}
    background-color: $color
    &:hover
      background-color: $hoverColor

@mixin outlinedColor($target, $color, $hoverColor)
  &.#{$target}
    border: 1px solid $color
    color: $color

    &:hover
      background-color: $color
      color: $hoverColor

button, .button
  display: inline-block
  position: relative
  background-color: $default
  color: $white
  border: none
  padding: .5em $padding
  margin: .25em
  outline: 0
  cursor: pointer
  text-decoration: none
  letter-spacing: .5px
  transition: background-color 250ms

  &:hover
    background-color: darken($default, 10%)

  // Ripple Effect
  &:before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(white, 0)
    clip-path: circle(0 at center)
    transition: clip-path 500ms, -webkit-clip-path 500ms

  &.ripple:before
    background-color: rgba(white, .1)
    clip-path: circle(75% at center)

  // Color
  @include buttonColor('primary', $primary, lighten($primary, 10%))
  @include buttonColor('secondary', $secondary, darken($secondary, 10%))
  @include buttonColor('warning', $warning, lighten($warning, 10%))
  @include buttonColor('danger', $danger, darken($danger, 10%))

  // Rounded Button
  &.rounded
    border-radius: 2em

  // Outlined Button
  &.outlined
    background-color: transparent
    padding: 0.4375em $padding
    border: 1px solid $default
    color: $default

    &:hover
      background-color: $default
      color: $white

    // Outlined Button Color
    @include outlinedColor('primary', $primary, $white)
    @include outlinedColor('secondary', $secondary, $white)
    @include outlinedColor('warning', $warning, $white)
    @include outlinedColor('danger', $danger, $white)
