body {
  font-family: "Montserrat", sans-serif;
  background-color: #212121;
  color: #ff8a65;
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, p {
  margin: 0; }

p {
  line-height: 1.5em; }

a {
  text-decoration: none;
  color: #ff8a65; }

a:hover, a:active {
  text-decoration: underline;
  color: #ff5722; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.row {
  width: 95%;
  margin: auto; }

#main-container {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
          transition: filter 0.5s; }
  #main-container.overlay-open {
    -webkit-filter: blur(4px);
            filter: blur(4px); }
  #main-container .main {
    margin: 15% auto 6em;
    max-width: 95%;
    width: 640px; }
    @media screen and (max-width: 640px) {
      #main-container .main {
        margin-top: 5em; } }
    #main-container .main .title {
      margin-bottom: 2em; }
      #main-container .main .title p {
        font-size: 0.85em; }
    #main-container .main .attribute {
      margin-bottom: 2em; }
    #main-container .main .contact {
      text-align: center; }
      #main-container .main .contact span {
        margin: 0 1em; }

header {
  position: fixed;
  top: 0;
  max-width: 800px;
  width: 100%;
  margin: 2em auto 0;
  background-color: rgba(33, 33, 33, 0.9); }
  header a.icon {
    font-size: 1.5em; }

footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  padding: 0.25em 0 2em;
  max-width: 800px;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.9); }
  footer:before, footer:after {
    content: " ";
    display: table;
    clear: both; }
  footer .left {
    float: left;
    width: 30%; }
    footer .left li {
      float: left; }
    footer .left a.icon {
      padding: 0 0.25em;
      font-size: 1.5em; }
  footer .right {
    line-height: 1.8625em;
    float: left;
    width: 70%;
    text-align: right;
    font-size: 0.75em; }
  @media screen and (max-width: 640px) {
    footer .left, footer .right {
      width: 100%;
      text-align: left; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.9);
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.1s;
          transition: transform 0.1s; }
  .modal.open {
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s; }
  .modal .close-button {
    position: absolute;
    right: 2em;
    top: 1em;
    font-size: 2em; }
  .modal .container {
    max-width: 800px;
    width: 100%;
    margin: auto; }
    .modal .container p {
      text-align: center;
      font-size: 5em;
      margin-top: 3em; }
