
// @font-face
//   font-family: ProgBot
//   src: url(../font/prog-bot.regular.ttf)

// @font-face
//   font-family: RepetitionScrolling
//   src: url(../font/repetition-scrolling.regular.ttf)

body
  font-family: 'Black Ops One', sans-serif
  font-size: 16px
  background-color: black
  background-image: url(../image/0.jpg)

a
  color: white
  text-decoration: none

ul
  list-style: none

#menu
  position: absolute
  z-index: 999
  width: 100vw
  height: 100vh
  background-color: #222
  display: none
  color: white

#clock
  position: relative
  width: 100vw
  height: 100vh
  margin: auto
  display: none
  transform-origin: 50% 50%

  @import 'face'
  @import 'hand'

.dot
  display: block
  border-radius: 10em
