@mixin listColor($target, $bgColor, $wColor:$white)
  &.#{$target} .list-item.selected
    background-color: $bgColor
    color: $wColor

a
  color: inherit
  text-decoration: none

.list
  list-style: none
  padding: 0

  .list-item
    background-color: transparent
    transition: background-color 500ms

    &:hover
      background-color: $grey

    &.selected
      background-color: $default
      color: white

    > *
      display: block
      padding: .5em $padding

  @include listColor('primary', $primary)
  @include listColor('secondary', $secondary)
  @include listColor('warning', $warning)
  @include listColor('danger', $danger)

  .panel &
    margin-left: -$padding
    margin-right: -$padding
