.panel
  background-color: $white
  margin: $gutter auto
  padding: 1em
  box-sizing: border-box

  .panel-header
    font-size: 1.5em
    color: $white
    background-color: $secondary
    margin: -1rem -1rem 1rem
    padding: .5em 1rem

