.panel
  background-color: $white
  margin: $gutter auto
  padding: $padding
  box-sizing: border-box

  @for $i from 1 through 5
    &.shadow-#{$i}
      @extend %shadow-#{$i}

  @import 'panel-header'
  @import 'panel-footer'

